@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

html {
    background-color: black !important;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*Classes*/
.background {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
}

.box {
    background-color: black;
    color: white;
    display: inline-flex;
    width: 100%;
    padding-right: 0%;
    padding-left: 0%;
    margin: auto;
}

.icon {
    border-radius: 25px;
}

.appTitle {
    color: white;
    font-size: 25px;
    text-align: left !important;
}

.text {
    color: white;
    text-align: center;
}

.image {
    border-radius: 100px;
}

.content {
    min-height: 100%;
    position: relative;
}

.text-header {
    text-align: center;
    color: white;
}

.cTitle {
    text-align: center;
    color: white !important;
}

.cContent {
    text-align: center;
    color: white !important;
}

/*ID*/
#logo {
    color: white;
    text-align: center;
    font-size: 50pt;
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
}

#contactForm {
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
}

#appList {
    text-align: center;
    right: 0;
    left: 0;
}

#contactInput {
    background-color: #2e2e2e;
    border-color: #2e2e2e;
    color: white;
}

#footer {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 30px;
    background-color: black;
}

#contactLabel {
    color: white;
}

#legal {
    text-align: left;
    margin-left: 15%;
    margin-right:15%;
    width: 70%;
}

#appBoxes {
    align-content: center;
}

/*HTML*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    text-align: center;
}

li {
    float: center;
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
    color: orange;
}